<ion-view view-title=""  id="page-salesmanAppliedJobs" cache-view="false">
  <ion-nav-title>
    <span class="header-title">All Job Requests</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-search" 
    ng-click="showFilterBar()"></button>
  </ion-nav-buttons>   
  <ion-content padding="true" class="has-header">
    <ion-refresher 
    pulling-text="Pull to refresh..." 
    pulling-icon="ion-arrow-down-b"
    on-refresh="doRefresh()">
  </ion-refresher>
  <div class="spinner" ng-if="loading == true">
    <ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
  </div>
  <ion-list class="ion-item-color">
    <ion-item id="appliedJobs-color"  class="card item-text-wrap ion-item-radius" ng-repeat='item in requestedJobs | filter: query' ng-click="jobDetail(item.id)" >
        <!-- <h2 class="other-jobs-head"><strong>Job</strong> : {{item.title | capitalize}}<br> <strong>Shop</strong> : {{item.shop.name | capitalize}}</h2> 
        <h2 class="other-jobs-head"><strong>Department</strong> : {{item.department | uppercase}}</h2>
        <p><strong>Description</strong> : {{item.description | capitalize | limitTo: 70}} {{ item.description.length > 150 ? '&hellip;' : '' }}</p> -->


        <!-- <div class="row">
          <div class="col col-33">
            <h2 class="other-jobs-head">
              <strong>Shop name</strong><br>
              <strong>Job title</strong> <br> 
              <strong>Vacancies</strong><br>
              <strong>Status</strong><br>
            </h2> 
          </div>
          <div class="col col-10">
            <h2 class="other-jobs-head">
              : <br>
              : <br>
              : <br>
              : <br>
            </h2>
          </div>
          <div class="col">
            <h2 class="other-jobs-head">
              {{item.shop.name  | capitalize }}<br>
              {{item.title | capitalize:true}}<br>
              {{item.requirement }}<br>
              <span class="{{item.status}}-status">{{item.status }}</span><br>
            </h2>
          </div>
        </div> -->

        <div class="row gbc">
          <div class="col col-33">
            <h2 class="other-jobs-head">
              <strong>Shop name</strong>
            </h2>
            <h2 class="other-jobs-head">
              <strong>Job title</strong>
            </h2>
            <h2 class="other-jobs-head"> 
              <strong>Vacancies</strong>
            </h2>
            <h2 class="other-jobs-head">
              <strong>Status</strong>
            </h2> 
            
          </div>
          <div class="col col-10">
            <h2 class="other-jobs-head">
              : 
            </h2>
            <h2 class="other-jobs-head">
              : 
            </h2>
            <h2 class="other-jobs-head">
              : 
            </h2>
            <h2 class="other-jobs-head">
              : 
            </h2>
          </div>
          <div class="col">
            <h2 class="other-jobs-head">
              {{item.shop.name  | capitalize }}
            </h2>
            <h2 class="other-jobs-head">
              {{item.title | capitalize:true}}
            </h2>
            <h2 class="other-jobs-head">
              {{item.requirement }}
            </h2>
            <h2 class="other-jobs-head">
              <span class="{{item.status}}-status">{{item.status }}</span>
            </h2>
          </div>
        </div>

        <!-- <div class="row">
          <p id="job-desc"><strong>Description</strong> : {{item.description |  capitalize |limitTo: 70}} {{ item.description.length > 70 ? '&hellip;' : '' }}</p>
        </div> -->
      </ion-item>
    </ion-list>
    <div ng-if="noJobsApplied">
      <h3 style="color: #fff"><center>No Jobs Requests</center></h3>

    </div>
  </ion-content>
</ion-view>