<ion-view id="page-allJobDetail" view-title="More Info" cache-view="false">
 <ion-header-bar class="bar-energized">
  <div class="buttons">
    <button class="button back-bcolor" ng-click="goBack()"><i class="icon ion-chevron-left"></i></button>
  </div>
  <span class="title header-title" style="font-weight: 700">Job Info</span>
</ion-header-bar>
<ion-content padding="true" class="has-header">
  <ion-refresher
  pulling-text="Pull to refresh..."
  pulling-icon="ion-arrow-down-b"
  on-refresh="doRefresh()">
</ion-refresher>
<div class="spinner" ng-if="loading == true">
  <ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
</div>
<div ng-hide="job[0].shop.images" ng-if="loading == false" id="no-img-div-height">
 <span id="no-shop-images"> No Images Available</span>
</div>
<ion-slides ng-hide="singleImage || noImages" id="slide-shopimage" options="options" slider="data.slider">
  <ion-slide-page ng-repeat="url in shopUrls">
    <img ng-src="{{url}}" id="allJob-shopimage">
  </ion-slide-page>
</ion-slides>
<div class="single-image" ng-show="singleImage">
  <img ng-src="{{singleimg}}" height="200">
</div>
<ion-list class="list-inset">
  <ion-item class="item-text-wrap ion-item-radius" id="allJob-detailscard" ng-repeat="item in job">
    <!-- <div class="row" id="alljobdetailfont">
      <div class="col col-33">
        <strong>Job Title</strong>  <br>
        <strong>Shop Name</strong> <br>
        <strong>Person</strong> <br>
        <strong>Email Id</strong> <br>
        <strong>Hours</strong><br>
        <strong>Vacancies</strong> <br>
        <strong>Salary basis</strong> <br>
        <strong>Contact</strong> <br>
      </div>
      <div class="col col-10">
       :<br>
       :<br>
       :<br>
       :<br>
       :<br>
       :<br>
       :<br>
       :<br>
     </div>
     <div class="col col-50">
      {{item.title | capitalize}}<br>
      {{item.shop.name | capitalize}}<br>
      {{item.retailer.name | capitalize}}<br>
      {{item.retailer.email}}<br>
      {{item.shop.working_hours}}<br>
      {{item.requirement }}<br>
      {{item.salary_basis | capitalize }}<br>
      {{item.shop.contact }}<br>
    </div>
      </div> -->
  <div id="desc-font">

    <strong>Job Title</strong> <br> 
    {{item.title | capitalize}}<br> <br>
    
    <strong>Shop Name</strong> <br> 
    {{item.shop.name | capitalize}}<br> <br>

    <strong>Person</strong> <br> 
    {{item.retailer.name | capitalize}}<br> <br>

    <strong>Email Id</strong> <br> 
    {{item.retailer.email}}<br> <br>

    <strong>Hours</strong> <br> 
    {{item.shop.working_hours}}<br> <br>

    <strong>Vacancies</strong><br>
    {{item.requirement }}<br> <br>

        <strong>Department</strong><br>
    {{item.shop.department }}<br> <br>

    <strong>Salary basis</strong> <br>
    {{item.salary_basis | capitalize }}<br> <br>

    <strong>Contact</strong> <br>
    {{item.shop.contact }}<br> <br>
    
    <strong>Address</strong>: <br>
    {{item.shop.address | capitalize}}<br><br>
  </div>
</ion-item>
</ion-list>
<button ng-hide="applied" ng-if="loading == false" class="button" id="apply-button" ng-click="applyJob()">Apply</button>
<div ng-show="applied" ng-if="loading == false" ng-class="{'select': status == 'selected', 'reject': status == 'rejected','applied': status == 'applied'}" style="border-radius: 3px">
  <center id="status-text"><strong>{{status | capitalize}}</strong></center>
</div>
</ion-content>
</ion-view>
