<ion-view id="page-applicantDetail" view-title="Applicant Info" cache-view="false">
 <ion-header-bar  class="bar-energized">
  <div class="buttons">
    <button class="button back-bcolor" ng-click="goBack()"><i class="icon ion-chevron-left"></i></button>
  </div>
  <span class="title header-title" style="font-weight: 700" ng-if="vname == 'homeRetailer' || vname == 'jobDetail' || vname == 'shopApplicants' || vname == 'shopEmployees'">Applicant Info</span>
  <span class="title header-title" style="font-weight: 700" ng-if="vname == 'allSalesman' || vname == 'requestedSalesman'">Salesman Detail
  </span>
</ion-header-bar>
<ion-content padding="true" class="has-header">
  <ion-refresher
  pulling-text="Pull to refresh..."
  pulling-icon="ion-arrow-down-b"
  on-refresh="doRefresh()">
</ion-refresher>
<div class="spinner" ng-if="loading == true">
  <ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
</div>
<img id="applicantDetail-img" ng-if="loading == false" ng-src="{{applicant.image}}" alt="{{ applicant.name }} Photo" height="135" width="135">

<button ng-click="requestjob()" class="req-btn">Request</button>
<br>
<ion-list class="list-inset" ng-if="loading == false">
  <ion-item class="item-text-wrap" id="applied-jobs-content">
    
    <div id="mar-left-applicant-adddesc">
      <strong>Name</strong> <br> 
      {{applicant.name | capitalize}}<br><br>
      <strong>Email</strong> <br>
      {{applicant.email}}<br><br>
      <strong>Mobile</strong> <br>
      {{applicant.mobile}}<br><br>
      <strong>Total Experience</strong> <br>
      {{applicant.total_exp}} Years<br><br>
      <strong>Salary</strong> <br>
      {{applicant.salary_basis | capitalize}}<br><br>
      <strong>Address</strong> <br>
      {{applicant.address | capitalize}},&nbsp;{{applicant.pincode}}<br><br>
      <strong>Description</strong> <br>
      {{applicant.describe_yourself}}
    </div>
    
    <div class="spacer" style="height: 40px;"></div>
    <center class="other-text" ng-if="jobsApplied == true"> Jobs Applied</center>
    <center class="other-text" ng-if="jobsApplied == false">No Jobs Applied</center>
    <div class="spacer" style="height: 40px;"></div>
    <div class="row" ng-repeat='item in jobs' id="border-jobsApplied">
      <div class="col col-60">
        <h2 class="other-jobs-head"><strong>Job</strong> : {{item.title | capitalize}}<br> <strong>Shop</strong> : {{item.shop.name | capitalize}}</h2> 
        <!--  <h2 class="other-jobs-head"><strong>Department</strong> : {{item.shop.department | uppercase}}</h2> -->
        <h2 class="other-jobs-head"><strong>Status</strong>: {{status | capitalize}}</h2>
      </div> 
      <div class="col col-40" id="padding-top-status">
        <select id="status" ng-init="status=item.applicant_status" ng-model="status" name="status" ng-change="statusClick(status,item.id)">
         <option value="applied">Applied</option>
         <option value="selected">Selected</option>
         <!-- <option value="shortlisted">Shortlisted</option> -->
         <option value="rejected">Rejected </option>
       </select>
     </div>
   </div>
 </div>
</ion-item>
</ion-list>
</ion-content>
</ion-view>

