  <ion-view id="page-login">
    <ion-content padding="true" id="login-content">
      <div class="img-login">
        <img src="img/logo.png" height="111">
      </div>
      <form ng-submit="formSubmit()">
        <ion-list id="list-inputs">
          <ion-item class="item-input input-box">
            <input class="input" id="email-input" name="email" ng-model="formData.email" type="text" placeholder="Email">
          </ion-item>
          <ion-item class="item-input input-box">
            <input class="input" id="password-input"  name="password" ng-model="formData.password" type="password" placeholder="Password">
          </ion-item>
        </ion-list>
        <button id="login-button8" class="button button-energized " type="submit">Log in</button>
      </form>
      <div class="spacer" style="height: 1px;"></div>
      <a ui-sref="retailer()" id="login-button9" class="button custom-active" >Register As Retailer</a>
      <a ui-sref="salesman()" id="login-button10" class="button ">Register As Salesman</a>
      <!-- <a ui-sref="salesman1()" id="login-button11" class="button ">Register As Salesman 1</a> -->
    </ion-content>
  </ion-view>