<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
  
    <ion-nav-bar class="bar-energized">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left"  enable-menu-with-back-views="false">
    <ion-header-bar class="bar-stable">
      <!-- <h1 class="title">Menu</h1> -->
    <span class="title header-title" style="font-weight: ">Menu</span>

    </ion-header-bar>
    <ion-content >
      <ion-list ng-if="type == 'salesman'" class="menu-list">
        <ion-item menu-close href="#/menu/homeSalesman">
          <span>Home</span>
        </ion-item>

        <ion-item menu-close href="#/menu/salesmanProfile">
          <span>Salesman Profile</span>
        </ion-item>
        
        <ion-item menu-close href="#/menu/salesmanExperience">
          <span>Experience</span>
        </ion-item>

        <ion-item menu-close href="#/menu/salesmanAppliedJobs">
          <span>Applied Jobs</span>
        </ion-item>

        <ion-item menu-close href="#/menu/allJobRequests">
          <span>All Requests</span>
        </ion-item>

        <ion-item menu-close ng-click="logout()">
          <span>Logout</span>
        </ion-item>
         
      </ion-list>

      <ion-list ng-if="type == 'retailer'" class="menu-list">
        <ion-item menu-close href="#/menu/allSalesman">
          <span>Home</span>
        </ion-item>

        <ion-item menu-close href="#/menu/retailerProfile">
          <span>Retailer Profile</span>
          
        </ion-item>

        <ion-item menu-close href="#/menu/retailerShops">
          <span>Shops</span>
          
        </ion-item>
        
        <ion-item menu-close href="#/menu/requestedSalesman">
          <span>Requested Salesman</span>         
        </ion-item>

        <!-- <ion-item menu-close href="#/menu/homeRetailer">
          <span>All Applicant</span>         
        </ion-item> -->

        <div ng-repeat="group in groups">
          <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
            <span>All Applicant </span>
          </ion-item>

          <ion-item nav-clear="" menu-close="" class="item-accordion item-stable" ng-repeat="item in group.items" ng-show="isGroupShown(group)" href="#/menu/selectedApplicant">
            <span>Selected Application</span>
          </ion-item>

          <ion-item nav-clear="" menu-close="" class="item-accordion item-stable" ng-repeat="item in group.items" ng-show="isGroupShown(group)" href="#/menu/rejectedApplicant">
            <span>Rejected Application</span>
          </ion-item>

          <ion-item nav-clear="" menu-close="" class="item-accordion item-stable" ng-repeat="item in group.items" ng-show="isGroupShown(group)" href="#/menu/appliedApplicant">
            <span>Applied Application</span>
          </ion-item>
        </div>

        <ion-item menu-close ng-click="logout()">
          <span>Logout</span>

        </ion-item>
        
        
        <!-- <ion-item menu-close ng-click="logout()">
          Logout
        </ion-item> -->
         
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
