<ion-view id="page-otp" style="background-color:#182838;">
 <ion-nav-bar class="bar-energized">
   <!-- <ion-nav-back-button class="button-clear">
     <i class="ion-chevron-left"></i>
   </ion-nav-back-button> -->
   <ion-nav-title>
     <span id="form-title" class="header-title" style="font-weight: 700; text-align: center">Verify OTP</span>
   </ion-nav-title>
 </ion-nav-bar>
 <ion-content padding="true" class="has-header center">

  <center>
    
    <span class="invite-text color-gray">Verify Your Mobile Number</span>
    
  </center>
  <form id="otp-form" name="otpForm" ng-submit="validate(invite0,invite1,invite2,invite3)">
    <div class="otp-input row">
      <input class="code color-gray pl-5 col" type="text" maxlength="1" id="invite0" name="invite0" ng-model="invite0" placeholder="&bull;" onkeypress="return isNumberKey(event)" onkeyup="moveOnMax(this,'invite1')" required />
      <input class="code color-gray pl-5 col" type="text" maxlength="1" id="invite1" name="invite1" ng-model="invite1" placeholder="&bull;" onkeypress="return isNumberKey(event)" onkeyup="moveOnMax(this,'invite2')" required/>
      <input class="code color-gray pl-5 col" type="text" maxlength="1" id="invite2" name="invite2" ng-model="invite2" placeholder="&bull;" onkeypress="return isNumberKey(event)" onkeyup="moveOnMax(this,'invite3')" required/>
      <input class="code color-gray pl-5 col" type="text" maxlength="1" id="invite3" name="invite3" ng-model="invite3" placeholder="&bull;" onkeypress="return isNumberKey(event)" onkeyup="moveOnMax(this,'cnfrmbtn')" required/>
      <br>
    </div>
      <p ng-show="(otpForm.invite0.$touched && otpForm.invite0.$error.required) || (otpForm.invite1.$touched && otpForm.invite1.$error.required) || (otpForm.invite2.$touched && otpForm.invite2.$error.required) || (otpForm.invite3.$touched && otpForm.invite3.$error.required)" class="color-red">Please Fill All Fields.</p>
    <center>
      <br>
      <input type="submit" id="cnfrmbtn" class="button  button-energized color-white confirm-button" value="Confirm">
      <br>
    </center>
  </form>

<script type="text/javascript">
  function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if ((charCode < 48 || charCode > 57))
    {
      return false;
    }
    else
    {
      return true;  
    }
  }
</script>

</ion-content>
</ion-view>