<ion-view view-title="Post A Job" id="page-postJob" cache-view="false" style="background-color:#182838;">
 <ion-header-bar  class="bar-energized">
  <div class="buttons">
    <button class="button back-bcolor" ng-click="goBack()"><i class="icon ion-chevron-left"></i>
    </button>
  </div>
  <!-- <h1 class="title">Post Job</h1> -->
  <span class="title header-title" style="font-weight: 700">Post Job</span>


</ion-header-bar>

<ion-content padding="true" class="has-header">
  <form name="jobform" ng-submit="jobSubmit(requirement)">

    <div class="list list-lr-padding">

      <!-- <label class=" item-input item-floating-label" id="job-type" name="job_type">
        <span class="input-label">Job Type</span>
        <span ng-show="jobform.job_type.$touched && jobform.job_type.$invalid" style="color:red" >* Invalid Type</span>
        <input type="text" placeholder="Job type" name="job_type" required ng-model="job_type"
        ng-pattern="/^[a-zA-Z\s]*$/">
      </label> -->

      <!-- <label class="item-input item-floating-label" id="job-title" name="title">
        <span class="input-label">Job Title</span>
        <span ng-show="jobform.title.$touched && jobform.title.$invalid" style="color:red" >* Invalid Title</span>
        <input type="text" placeholder="Job Title" name="title" required ng-model="title"
        ng-pattern="/^[a-zA-Z\s]*$/">
      </label> -->

      <label class="item-input item-select" id="job-title" name="title">
        <span class="input-label">Job Title</span>
        <span ng-show="jobform.title.$touched && jobform.title.$invalid" style="color:red" >*</span>
        <!-- <select id="job-title" ng-options="item as item.job_title for item in titles track by item.id" name="title" ng-model="selected" required></select> -->
        <button ng-click="selectJobtitle()" class="req-btn" id="jobtitle-btn">Select</button>

      </label>

      <!-- <label class=" item-input item-floating-label" id="job-description" name="description">
        <span class="input-label">Description</span>
        <span ng-show="jobform.description.$touched && jobform.description.$invalid" style="color:red" >*</span>
        <input type="text" placeholder="Description" name="description" required ng-model="description">
      </label> -->

      

      <!-- <label class=" item-input item-floating-label" id="job-workinghours" name="working_hours">
        <span class="input-label">Working Hours</span>
        <span ng-show="jobform.working_hours.$touched && jobform.working_hours.$invalid" style="color:red" >*</span>
        <input type="number" placeholder="Working Hours" name="working_hours" required ng-model="working_hours"  ng-maxlength="2">
      </label> -->

      <label class=" item-input item-floating-label" id="job-requirement" name="requirement">
        <span class="input-label">Number Of Vacancies</span>
        <span ng-show="jobform.requirement.$touched && jobform.requirement.$invalid" style="color:red" >*</span>
        <input type="number" placeholder="Number of vacancies" name="requirement" required ng-model="requirement"  ng-maxlength="2">
      </label>
<!-- 
      <label class="item-input item-floating-label" id="job-department" name="department">
        <span class="input-label">Department</span>
        <span ng-show="jobform.department.$touched && jobform.department.$invalid" style="color:red" >* Invalid</span>
        <input type="text" placeholder="Department" name="department" required ng-model="department"
        ng-pattern="/^[a-zA-Z\s]*$/">
      </label>
    -->
    <label class=" item-input item-select" id="job-salarybasis" name="salary_basis">
      <span class="input-label">Salary Basis</span>
      <span ng-show="jobform.salary_basis.$touched && jobform.salary_basis.$invalid" style="color:red" >*</span>
      <!-- <select id="salarybasis" ng-model="salary_basis" name="salary_basis" required>
       <option value="commission">Commission</option>
       <option value="monthly">Monthly</option>
           </select> -->
         <button ng-click="selectsalarybasis()" class="req-btn" id="salary-btn">Select</button>
           
   </label>

     <!-- <label class="item-input item-select" id="job-status" name="status">
      <span class="input-label">Status</span>
      <span ng-show="jobform.status.$touched && jobform.status.$invalid" style="color:red" >*
      </span>
      <select id="salarybasis"  ng-model="status" name="status" required>
       <option value="open">Open</option>
       <option value="closed">Closed</option>
     </select>
   </label> -->



 </div>



 <button style="font-weight:600;border-radius:25px 25px 25px 25px; width: 120px" class="button" id="add-postJob" ng-disabled="jobform.$invalid">
   Add
 </button>

</form>
</ion-content>
</ion-view>