<ion-view id='page-homeRetailer' view-title="" cache-view="false">
  <ion-nav-title>
    <span class="header-title">Requested Salesman</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-search" 
    ng-click="showFilterBar()"></button>
  </ion-nav-buttons>   
  <ion-content padding="true" class="has-header" direction="y" scrollbar-y="false">
    <ion-refresher
    pulling-text="Pull to refresh..."
    pulling-icon="ion-arrow-down-b"
    on-refresh="doRefresh()">
  </ion-refresher>
  <div class="spinner" ng-if="loading == true">
    <ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
  </div>
  <ion-list ng-hide="noSalesman" class="ion-item-color">
    <ion-item id="applicant-card-height" class="card item-text-wrap ion-item-radius" ng-repeat='item in rsalesman | filter: query' ng-click="requestSalesmanDetail(item.salesman_id)"> 
      <div class="home-card h-card row">
        <div class="col col-20">
          <img ng-src="{{item.image}}" alt="{{ item.name }} Photo" id="salesman-img-card" height="55" width="55">
        </div>
        <div class="col col-80 card-content">
          <h2 class="item-name">
            <span class="sal-name">{{item.name | capitalize}}</span>
            <br>
            <span class="item-address">
              {{item.address | limitTo: 50}}
              {{ item.address.length > 50 ? '&hellip;' : '' }}
            </span>
            <br>
            <span class="item-description">{{item.job_title }}</span>
            <br>
            <br>
            <span class="{{item.status}}-status">{{item.status}}</span>
          </h2> 
        </div>
      </div>
    </ion-item>
  </ion-list>
  <div ng-show="noSalesman">
  <h3 style="color: white"><center>No Salesman Found</center></h3>
  </div>
</ion-content>
</ion-view>