<ion-view id="page-retailerProfile" view-title="" cache-view="false">
	<ion-nav-title>
		<span class="header-title">Retailer Profile</span>
	</ion-nav-title>
	<ion-content padding="true" class="has-header">
		<div class="spinner" ng-if="loading == true">
			<ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
		</div>
		<ion-list ng-if="loading == false">
			<ion-item class="item-text-wrap ion-item-radius" id="profile-content">
		
				<div id="mar-left-ret-add" class="retailer-details">

					<p><strong>Name : </strong></p> 
					<p class="mb-10">{{retailer.name | capitalize}}</p>

					<p><strong>Email :</strong> </p>
					<p class="mb-10">{{retailer.email}}</p>

					<p><strong>DOB :</strong> </p>
					<p class="mb-10">{{retailerDob | date : 'dd/MM/yyyy'}}</p>

					<p><strong>Mobile :</strong> </p>
					<p class="mb-10">{{retailer.mobile}}</p>

					<p><strong>City :</strong> </p>
					<p class="mb-10">{{retailer.city}}</p>

					<p><strong>State :</strong> </p>
					<p class="mb-10">{{retailer.state}}</p>

					<p><strong>Address :</strong> </p>
					<p class="mb-10">{{retailer.address | capitalize}}, {{retailer.address2 | capitalize}}</p>

					<p><strong>Pincode :</strong> </p>
					<p class="mb-10">{{retailer.pincode}}</p>

				</div>
			</ion-item>
		</ion-list>
</ion-content>

<ion-floating-button ng-click="openModal()" has-footer="true" button-color="#f99e09" icon="ion-edit" icon-color="#fff">button
</ion-floating-button>


<script id="modal.html" type="text/ng-template">
	<ion-modal-view class="modal-edit-retailerProfile">
		<ion-header-bar class="bar-energized">
			<!-- <h1 class="title">Edit Profile</h1> -->
			<span class="title header-title" style="font-weight: 700">Edit Profile</span>

			<button class="button button-clear button-primary" ng-click="modal.hide()" style="margin-left: 90%;"><i class="icon ion-close-round"></i></button>
		</ion-header-bar>
		<ion-content>

			<form name="retailerform" ng-submit="retailerUpdate(name,email,mobile,address,pincode,dob,city,state,address2)">

				<div class="list list-lr-padding">

					<label class=" item-input item-floating-label" id="retailer-name" name="name">
						<span class="input-label">Owner Name</span>
						<span ng-show="retailerform.name.$touched && retailerform.name.$invalid" style="color:red" >* Invalid Name</span>
						<input type="text" placeholder="Owner Name" name="name" required ng-model="name"
						ng-pattern="/^[a-zA-Z\s]*$/">
					</label>

					<label class=" item-input item-floating-label" id="retailer-email" name="email">
						<span class="input-label">Email</span>
						<span ng-show="retailerform.email.$touched && retailerform.email.$invalid" style="color:red" >* Enter valid mail</span>
						<input type="email" placeholder="Email" name="email" required ng-model="email">
					</label>

					<label class=" item-input item-floating-label" id="retailer-mobile" name="mobile">
						<span class="input-label">Mobile</span>
						<span ng-show="retailerform.mobile.$touched && retailerform.mobile.$invalid" style="color:red" >* Mobile invalid</span>
						<input type="text" placeholder="Mobile" name="mobile" required ng-model="mobile"  ng-maxlength="12" ng-pattern="/^[789]\d{9}$/">
					</label>

					<label class=" item-input " id="retailer-dob" name="dob">
						<span class="input-label">DOB</span>
						<span ng-show="retailerform.dob.$touched && retailerform.dob.$invalid" style="color:red" >*</span>
						<input type="date" placeholder="DOB" name="dob" required id="dob" ng-model="dob">
					</label>

					<label class=" item-input item-floating-label" id="retailer-city" name="city">
						<span class="input-label">City</span>
						<span ng-show="retailerform.city.$touched && retailerform.city.$invalid" style="color:red" >*</span>
						<input type="text" placeholder="Enter City"  ng-model="city"/>
					</label>

					<label class=" item-input item-floating-label" id="retailer-state" name="state">
						<span class="input-label">State</span>
						<span ng-show="retailerform.state.$touched && retailerform.state.$invalid" style="color:red" >*</span>
						<input type="text" placeholder="Enter State"  ng-model="state"/>
					</label>

					<label class=" item-input item-floating-label" id="retailer-address" name="address">
						<span class="input-label">Address First Line</span>
						<span ng-show="retailerform.address.$touched && retailerform.address.$invalid" style="color:red" >*</span>
						<input type="text" placeholder="Enter Address First Line"  ng-model="address" options="options" details="details"/>
					</label>

					<label class=" item-input item-floating-label" id="retailer-address2" name="address2">
						<span class="input-label">Address Second Line</span>
						<span ng-show="retailerform.address2.$touched && retailerform.address2.$invalid" style="color:red" >*</span>
						<input type="text" placeholder="Enter Address Second Line"  ng-model="address2" options="options" details="details"/>
					</label>


					<label class="item-input item-floating-label" id="retailer-pincode" name="pincode">
						<span class="input-label">Pincode</span>
						<span ng-show="retailerform.pincode.$touched && retailerform.pincode.$invalid" style="color:red" >*</span>
						<input type="number" placeholder="Pincode" name="pincode" required ng-model="pincode"  ng-maxlength="10" >
					</label>

				</div>
				<button style="font-weight:600;border-radius:25px 25px 25px 25px; width: 120px; text-align: center;" class="button" id="retailerProfile-update-button">Update</button>
			</form>
		</ion-content>
	</ion-modal-view>
</script>
</ion-view>