<ion-view id="page-retailerShops" view-title="" cache-view="false">


	<ion-nav-title>
		<span class="header-title">Retailer Shops</span>
	</ion-nav-title>
	<!-- <ion-nav-buttons side="right">
		<button class="button icon-right" ng-click="logout()"><i class="icon ion-power" id=""></i></button>
	</ion-nav-buttons>    -->

	<ion-content padding="true" class="has-header">
		<div class="spinner" ng-if="loading == true">
			<ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
		</div>

		<ion-list class="shops-list">
			<div ng-hide="noShops">
				<!-- <ion-item><center>Your Shops</center></ion-item> -->
				<!-- ng-click="sDetail(shop.id)" -->
				<button class="button icon-right ion-ios-arrow-right button-block" ng-repeat="shop in shops  | orderBy: 'created_at':true" ui-sref="shopDetail({sId:shop.id})">
				{{shop.name | capitalize }}
				</button>
			</div>

			<div ng-show="noShops">
				
				<h3 style="color: white"><center>No Shops Added</center></h3>
			</div>


		</ion-list>
<!-- 
		<a ng-if="loading == false" id="add-shop" class="button button-block " href="#addShop">Add Shop </a>
	-->

</ion-content>

<ion-floating-button ng-if="loading == false" ui-sref="addShop()" has-footer="true" button-color="#f99e09" icon="ion-plus-round" icon-color="#fff">button
</ion-floating-button>


</ion-view>