<ion-view id="page-salesmanExperience" view-title=""  cache-view="false">
	<ion-nav-title>
		<span class="header-title">Salesman Experiences</span>
	</ion-nav-title>
	<ion-content padding="true" class="has-header">
		<div class="spinner" ng-if="loading == true">
			<ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
		</div>
		<ion-list class="experience-list">
			<div ng-hide="noExperience" class="exp-list">
				<a class="button icon-right ion-ios-arrow-right button-block" ng-repeat="experience in experiences | orderBy : 'to_year'" ng-click="eDetail(experience.id)">{{experience.company | capitalize}}</a>
			</div>
			<div ng-show="noExperience">
				<h3 style="color: white"><center>No Experiences Added Yet</center></h3>
			</div>
		</ion-list>
		<!-- <a  ng-if="loading == false" id="add-experience" class="button button-block " href="#addExperience">Add Experience </a> -->
	</ion-content>
	<ion-floating-button ng-if="loading == false" ng-click="addExperience()" has-footer="true" button-color="#f99e09" icon="ion-plus-round" icon-color="#fff">button
	</ion-floating-button>
</ion-view>