<ion-view id="page-salesman1" style="background-color:#182838;">

  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button class="button-clear">
      <i class="ion-chevron-left"></i>
    </ion-nav-back-button>
    <ion-nav-title>
      <span class="title header-title" style="font-weight: 700; text-align: center">Salesman</span>
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <form name="salesmanform">
      <div id="salesman-list5" class="list list-lr-padding">
       <center>
         <img ng-src="{{srcImage || 'http://ec2-52-14-198-231.us-east-2.compute.amazonaws.com/assets/images/users/salesman/propic.png'}}" ng-click="openModal()" id="propic" style="height: 100px; width: 100px; border-radius: 50%; margin-top: 20px;">
       </center>

       <center>
         <div class="edit-pic-absolute">
          <img src="img/plus.png"  ng-click="uploadImage()">
        </div>
      </center>

      <label class=" item-input item-floating-label" id="salesman-input1" name="name">
        <span class="input-label">Name</span>
        <span ng-show="salesmanform.name.$touched && salesmanform.name.$invalid" style="color:red" >* Invalid Name</span>
        <input type="text" placeholder="Name" name="name" required ng-model="name"
        ng-pattern="/^[a-zA-Z\s]*$/">
      </label>

      <label class=" item-input item-floating-label" id="salesman-input2" name="email">
        <span class="input-label">Email</span>
        <span ng-show="salesmanform.email.$touched && salesmanform.email.$invalid" style="color:red" >* Enter valid mail</span>
        <input type="email" placeholder="Email" name="email" required ng-model="email">
      </label>

      <label class=" item-input item-floating-label" id="salesman-input3" name="password">
        <span class="input-label">Password</span>
        <span ng-show="salesmanform.password.$touched && salesmanform.password.$invalid" style="color:red" >* Password invalid</span>
        <input type="password" placeholder="Password (min 8 character)" name="password" required ng-model="password" ng-minlength="8" ng-maxlength="20">
      </label>


      <label class=" item-input item-floating-label" id="salesman-input4" name="mobile">
        <span class="input-label">Mobile</span>
        <span ng-show="salesmanform.mobile.$touched && salesmanform.mobile.$invalid" style="color:red" >* Mobile invalid</span>
        <input type="text" placeholder="Mobile" name="mobile" required ng-model="mobile"  ng-maxlength="12" ng-pattern="/^[789]\d{9}$/">
      </label>

      <label class=" item-input item-floating-label" id="salesman-input9" name="address">
        <span class="input-label">Address</span>
        <span ng-show="salesmanform.address.$touched && salesmanform.address.$invalid" style="color:red" >*</span>
        <!-- <input type="text" ng-autocomplete ng-model="address" options="options" details="details"/> -->
        <!-- <input type="text" id="pac-input" ng-change='disableTap()' data-tap-disabled="true" placeholder="Location" ng-model="address"/> -->
        
        <input type="text" placeholder="Location" name="address" ng-model="address">
      </label>

      <label class="item-input item-floating-label" id="salesman-input4" name="pincode">
        <span class="input-label">Pincode</span>
        <span ng-show="salesmanform.pincode.$touched && salesmanform.pincode.$invalid" style="color:red" >*</span>
        <input type="number" placeholder="Pincode" name="pincode" required ng-model="pincode"  ng-maxlength="10" >
      </label>

      <label class="item-input item-select " id="salesman-input5" name="gender">
        <span class="input-label">Gender</span>
        <!-- <span ng-show="salesmanform.gender.$touched && salesmanform.gender.$invalid" style="color:red" >*</span> -->
        <select id="gender" ng-model="gender" name="gender" required>
         <option value="male">Male</option>
         <option value="female">Female</option>
       </select>
     </label>

     <label class=" item-input " id="salesman-input6" name="dob">
      <span class="input-label">Date Of Birth</span>
      <span ng-show="salesmanform.dob.$touched && salesmanform.dob.$invalid" style="color:red" >*</span>
      <input type="date" value="{{dob}}" placeholder="DOB" name="dob" required id="dob" ng-model="dob">
    </label>


    <label class=" item-input item-select" id="salesman-input8" name="salarybasis">
      <span class="input-label">Salary Basis</span>
      <span ng-show="salesmanform.salarybasis.$touched && salesmanform.salarybasis.$invalid" style="color:red" >*</span>
      <select id="salarybasis" ng-model="salarybasis" name="salarybasis" required>
       <option value="commission">Commission</option>
       <option value="monthly">Monthly</option>
     </select>
   </label>


   <label class=" item-input item-floating-label" id="salesman-input7" name="describeyourself">
    <span class="input-label">Describe Yourself</span>
    <span ng-show="salesmanform.describeyourself.$touched && salesmanform.describeyourself.$invalid" style="color:red" >* Description too long</span>
    <input type="text" placeholder="Describe Yourself (max 250 characters)" name="describeyourself" required id="describeyourself" ng-model="describeyourself" ng-maxlength="250">
  </label>


  <label class=" item-input item-floating-label" id="experience-company" name="company">
          <span class="input-label">Shop Name</span>
          <span ng-show="experienceform.company.$touched && experienceform.company.$invalid" style="color:red" >* Invalid Name</span>
       <input type="text" placeholder="Shop Name" name="company" required ng-model="company"
       ng-pattern="/^[a-zA-Z\s]*$/">
       <!--  <autocomplete ng-model="result" attr-placeholder="type to search movies..." click-activation="true" data="movies" on-type="doSomething" on-select="doSomethingElse"></autocomplete> -->

     </label>

     <label class=" item-input item-floating-label" id="experience-designation" name="designation">
      <span class="input-label">Designation</span>
      <span ng-show="experienceform.designation.$touched && experienceform.designation.$invalid" style="color:red" >* Invalid </span>
      <input type="text" placeholder="Designation" name="designation" required ng-model="designation"
      ng-pattern="/^[a-zA-Z\s]*$/">
    </label>

      <!--   <label class=" item-input item-floating-label" id="experience-department" name="department">
        <span class="input-label">Department</span>
        <span ng-show="experienceform.department.$touched && experienceform.department.$invalid" style="color:red" >* Invalid </span>
        <input type="text" placeholder="Department" name="department" required ng-model="department"
        ng-pattern="/^[a-zA-Z\s]*$/">
      </label> -->

      <label class=" item-input item-select" id="experience-department" name="department">
        <span class="input-label">Department</span>
        <span ng-show="experienceform.department.$touched && experienceform.department.$invalid" style="color:red" >* Invalid </span>
        <select id="shop-department" ng-options="item as item.department for item in items track by item.id" ng-model="selected" required>
        </select>
      </label>


      <label class=" item-input item-floating-label" id="experience-fromyear" name="department">
        <span class="input-label">From year</span>
        <span ng-show="experienceform.fromyear.$touched && experienceform.fromyear.$invalid" style="color:red" >* Invalid </span>
        <input type="text" placeholder="From Year" name="fromyear" required ng-model="fromyear" ng-pattern="/^[12]\d{3}$/">
      </label>

      <label class=" item-input item-floating-label" id="experience-toyear" name="department">
        <span class="input-label">To year</span>
        <span ng-show="experienceform.toyear.$touched && experienceform.toyear.$invalid" style="color:red" >* Invalid </span>
        <input type="text" placeholder="To Year" name="toyear" required ng-model="toyear" ng-pattern="/^[12]\d{3}$/">
      </label>



        <!-- <label class=" item-input item-floating-label" id="experience-years" name="years">
          <span class="input-label">Years</span>
          <span ng-show="experienceform.years.$touched && experienceform.years.$invalid" style="color:red" >* Years invalid</span>
          <input type="number" placeholder="Years" name="years" required ng-model="years">
        </label> -->



        <label class=" item-input item-floating-label" id="experience-address" name="address">
          <span class="input-label">Address</span>
          <span ng-show="experienceform.address.$touched && experienceform.address.$invalid" style="color:red" >*</span>
          <!-- <input type="text"  ng-autocomplete ng-model="address" options="options" details="details"/> -->
          <!-- <input type="text" id="pac-input"  ng-model="address" ng-change='disableTap()' data-tap-disabled="true" placeholder="Location" /> -->
          <input type="text" placeholder="Location" name="address" ng-model="address">

          <!-- <input type="text" placeholder="Location" location-suggestion location="location" ng-model="location.formatted_address"> -->
        </label>


        <label class="item-input item-floating-label" id="experience-pincode" name="pincode">
          <span class="input-label">Pincode</span>
          <span ng-show="experienceform.pincode.$touched && experienceform.pincode.$invalid" style="color:red" >* </span>
          <input type="number" placeholder="Pincode" name="pincode" required ng-model="pincode">
        </label>

        <label class=" item-input item-floating-label" id="experience-salary" name="salary">
          <span class="input-label">Salary</span>
          <span ng-show="experienceform.salary.$touched && experienceform.salary.$invalid" style="color:red" >* Salary invalid</span>
          <input type="number" placeholder="Salary" name="salary" required ng-model="salary">
        </label>

  

</div> 
<br>
<button id="salesman-button5" class="button"  ng-disabled="salesmanform.$invalid">
  Sign up
</button>
</form>

</ion-content>

<script id="modal.html" type="text/ng-template">
  <div class="modal-salesmanRegister" ng-click="closeModal()">
    <ion-content>

      <img ng-src="{{data.selected || 'http://ec2-52-14-198-231.us-east-2.compute.amazonaws.com/assets/images/users/salesman/propic.png'}}" style="display:block; width:100%; max-width:600px; margin:auto"/>

    </ion-content>
  </div>
</script>

<script id="location.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" ng-model="search.query" placeholder="Search">
      </label>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-show="search.error">
          {{search.error}}
        </ion-item>
        <ion-item ng-repeat="suggestion in search.suggestions" ng-click="choosePlace(suggestion)">
          {{suggestion.description}}
        </ion-item>
      </ion-list>
      <img src="https://developers.google.com/maps/documentation/places/images/powered-by-google-on-white.png" alt="" />
    </ion-content>
  </ion-modal-view>
</script>


</ion-view>