<ion-view view-title="More Info" cache-view="false" id="page-shopDetail">
 <ion-header-bar class="bar-energized">
  <div class="buttons">
    <button class="button back-bcolor" ng-click="goBack()"><i class="icon ion-chevron-left"></i></button>
  </div>
  <span class="title header-title" style="font-weight: 700">Shop Info</span>
</ion-header-bar>
<ion-content padding="true" class="has-header">
  <div class="spinner" ng-if="loading == true">
    <ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
  </div>
  <div ng-hide="shop.images" id="no-image" ng-if="loading == false">
    <center>  No Images Available</center>
  </div>
  <ion-slides id="slide-shopimage" ng-if="loading == false" options="options" slider="data.slider">
    <ion-slide-page ng-repeat="image in shopImages">
      <img ng-src="{{image}}" ng-click="openImageModal(image)" style="width: 100%;height: 190px">
    </ion-slide-page>
    <ion-slide-page>
      <img ng-src="{{addShopImage}}" ng-click="uploadimg()" id="shop-image" style="width: 100%;height: 190px">
    </ion-slide-page>
  </ion-slides>
 <!--  <div class="row" ng-if="loading == false">
   <div class="col-20">
     <strong>Name</strong>  <br>
     <strong>Contact</strong> <br>
     <strong>Since</strong> <br>
   </div>
   <div class="col-10" id="col-padding-left">
     :<br>
     :<br>
     :<br>
   </div>
   <div class="col-60 col-offset-10">
     {{shop.name | capitalize}}<br>
     {{shop.contact}}<br>
     {{shop.established_year}}<br>
   </div>
 </div> -->
 <div ng-if="loading == false" id="mar-left-shop-add">
  <strong>Name</strong>  <br>
  <span>{{shop.name | capitalize}}</span><br><br>
  <strong>Contact</strong> <br>
  <span>{{shop.contact}}</span><br><br>
  <strong>Department</strong> <br>
  <span>{{shop.department}}</span><br><br>
  <strong>From </strong> <br>
  <span>{{fromTime}}</span><br><br>
  <strong>To </strong> <br>
  <span>{{toTime }}</span><br><br>
  <strong>Since</strong> <br>
  <span>{{shop.established_year}}</span><br><br>
  <strong>Address</strong> <br>
  <span>{{shop.address | capitalize}},&nbsp; {{shop.pincode}} </span> <br><br>
</div>
<div ng-if="loading == false">
  <button ui-sref="viewJobs({ sId: shop.id})" class="button button-block icon-right ion-ios-arrow-right btn-shopDetail" >View Jobs</button>
  <button ui-sref="postJob({ sId: shop.id, vname: 'shopDetail'})" class="icon-right ion-ios-arrow-right button button-block btn-shopDetail" >Post Job</button>
  <button ui-sref="shopApplicants({ sId : shop.id })" class="icon-right ion-ios-arrow-right button button-block btn-shopDetail">List of Applicants</button>
  <button ui-sref="shopEmployees({ sId : shop.id })" class="icon-right ion-ios-arrow-right button button-block btn-shopDetail">List of Employees</button>
  <button ng-click="openModal()" class="icon-right ion-ios-arrow-right button button-block btn-shopDetail">Edit Details</button>
</div>
</ion-content>
<script id="modal.html" type="text/ng-template">
  <ion-modal-view class="modal-edit-shopDetail">
    <ion-header-bar class="bar-energized">
      <span class="title header-title" style="font-weight: 700">Edit Shop Details</span>
      <button class="button button-clear button-primary" ng-click="modal.hide()" style="margin-left: 90%;"><i class="icon ion-close-round"></i></button>
    </ion-header-bar>
    <ion-content>
    <form name="shopform" ng-submit="updateShop(name,contact,selected,fromtime,totime,address,pincode,established_year)">
        <div class="list list-lr-padding">

          <label class=" item-input item-floating-label" id="shop-name" name="name">
            <span class="input-label">Shop name</span>
            <span ng-show="shopform.name.$touched && shopform.name.$invalid" style="color:red" >* Invalid Name</span>
            <input type="text" placeholder="Shop Name" name="name" required ng-model="name"
            ng-pattern="/^[a-zA-Z\s]*$/">
          </label>

          <label class=" item-input item-floating-label" id="shop-contact" name="contact">
            <span class="input-label">Contact</span>
            <span ng-show="shopform.contact.$touched && shopform.contact.$invalid" style="color:red" >* Contact invalid</span>
            <input type="text" placeholder="Contact" name="contact" required ng-model="contact"  ng-maxlength="12">
          </label>

          <label class="item-input select-height" id="shop-department" name="shop-department">
            <!-- <span class="input-label">Department</span> -->
            <span ng-show="shopform.shop-department.$touched && shopform.shop-department.$invalid" style="color:red" >*</span>
            <select id="shop-department" ng-init="department" ng-options="item as item.department for item in items track by item.id" ng-model="selected" required>
            </select>
          </label>

          <label class="item item-input" id="shop-fromtime">
            <span class="input-label">From</span>
            <span ng-show="shopform.shopDepartment.$touched && shopform.shopDepartment.$invalid" style="color:red" >*</span>
            <input type="time" id="shop-fromtime" ng-model="fromtime" name="fromtime" formatted-time>
          </label>
      <p id="timeerror" ng-show="error"></p>

          <label class="item item-input" id="shop-totime">
            <span class="input-label">To</span>
            <span ng-show="shopform.shopDepartment.$touched && shopform.shopDepartment.$invalid" style="color:red" >*</span>
            <input type="time" id="shop-totime" ng-model="totime" name="totime" formatted-time>
          </label>


          <label class=" item-input item-floating-label" id="shop-year" name="established_year">
            <span class="input-label">Established Year</span>
            <span ng-show="shopform.established_year.$touched && shopform.established_year.$invalid" style="color:red" >* Year invalid</span>
            <input type="text" placeholder="Established Year" name="established_year" required ng-model="established_year" ng-pattern="/^[12]\d{3}$/">
          </label>

          <label class=" item-input item-floating-label" id="shop-address" name="address">
            <span class="input-label">Address</span>
            <span ng-show="shopform.address.$touched && shopform.address.$invalid" style="color:red" >*</span>
            <input type="text" placeholder="Location"  ng-model="address">
            <!-- <input type="text" id="pac-input"  ng-model="address" ng-change='disableTap()' ng-autocomplete data-tap-disabled="true" placeholder="Location" /> -->
            <!-- <input type="text"  ng-autocomplete ng-model="address" options="options" details="details"/> -->
          </label>

          <label class="item-input item-floating-label" id="shop-pincode" name="pincode">
            <span class="input-label">Pincode</span>
            <span ng-show="shopform.pincode.$touched && shopform.pincode.$invalid" style="color:red" >* </span>
            <input type="number" placeholder="Pincode" name="pincode" required ng-model="pincode"  ng-maxlength="10">
          </label>

        </div>

        <button style="font-weight:600;border-radius:25px 25px 25px 25px; width: 120px" class="button" id="shopDetail-save-button">Save</button>
      </form>

    </ion-content>
  </ion-modal-view>
</script>

<script id="image-modal.html" type="text/ng-template">
  <ion-modal-view class="modal-shop-images">
    <ion-header-bar class="bar-energized">
      <button class="button button-clear button-primary" ng-click="Imagemodal.hide()" style="margin-left: 90%;"><i class="icon ion-close-round" style="color: white;"></i></button>
    </ion-header-bar>
    <ion-content>
      <!-- <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   --> 
      <img ng-src="{{img}}" height="" width="100%">
      <!-- </ion-scroll> -->
    </ion-content>
    <div class="bar bar-footer bar-light footer-buttons">
      <div class="row">
        <div class="col">
          <button class="button icon ion-trash-b" ng-click="deleteimg(img)"></button>
        </div>
      </div>
    </div>
  </ion-modal-view>
</script>
</ion-view>

