<ion-view id="page-shopEmployees" view-title="" cache-view="false">
	<!-- <ion-nav-title>
		<span class="header-title">Retailer Shops</span>
	</ion-nav-title> -->
	<ion-header-bar  class="bar-energized">
		<div class="buttons">
			<button class="button back-bcolor" ng-click="goBack()"><i class="icon ion-chevron-left"></i></button>
		</div>
		<span class="title header-title" style="font-weight: 700">Shop Employees</span>
	</ion-header-bar>
	<ion-content padding="true" class="has-header">
		<ion-refresher
		pulling-text="Pull to refresh..."
		pulling-icon="ion-arrow-down-b"
		on-refresh="doRefresh()">
	</ion-refresher>
	<div class="spinner" ng-if="loading == true">
		<ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
	</div>
	<div ng-show="noEmployees">
		<h3 style="color: #fff"><center>No Employees Found</center></h3>
	</div>
	<ion-list ng-hide="noEmployees">
		<ion-item  id="applicants-shopDetail-card" class="card item-text-wrap" ng-repeat='item in employees | filter: query' 
		ng-click="applicantDetail(item.id)" > 
		<div class="home-card h-card row">

			<div class="col col-20">
				<img ng-src="{{item.image}}" alt="{{ item.name }} Photo" id="salesman-img-card" height="55" width="55">
			</div>
			<div class="col col-80 card-content">
				<h2 class="item-name">
					<span class="sal-name">{{item.name | capitalize}}</span>
					<br>
					<span class="item-address">
						{{item.address | limitTo: 50}}
						{{ item.address.length > 50 ? '&hellip;' : '' }}
					</span>
					<br>
					<span class="item-description">{{item.describe_yourself | limitTo: 50}} {{ item.describe_yourself.length > 50 ? '&hellip;' : '' }}</span>
				</h2> 
			</div>
		</div>	
	</ion-item>
</ion-list>
</ion-content>
</ion-view>