<ion-view title="Jobs" id="page-viewJobs" cache-view="false">
 <ion-header-bar  class="bar-energized">
  <div class="buttons">
    <button class="button back-bcolor" ng-click="goBack()"><i class="icon ion-chevron-left"></i></button>
  </div>
  <!-- <h1 class="title">Jobs</h1> -->
  <span class="title header-title" style="font-weight: 700">Jobs</span>


</ion-header-bar>

<ion-content padding="true" class="has-header">
  <div class="spinner" ng-if="loading == true">
    <ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
  </div>
  <ion-list id="jobs-bar">

  <a class="button icon-right ion-ios-arrow-right button-block" ng-repeat="job in jobs track by $index" ng-click="jDetail(job.id)">{{job.title | capitalize}}</a>

   <div ng-if="noJobs">
    <h3 style="color: #fff"><center>No Jobs Added</center></h3>
   <!--  <button ng-click="addJob()" class="icon-right ion-chevron-right button button-block button-energized">Post Job</button> -->
  </div>
</ion-list>




</ion-content>

<ion-floating-button ng-if="loading == false" ui-sref="postJob({sId:shopId, vname:'viewJobs'})" has-footer="true" button-color="#f99e09" icon="ion-plus-round" icon-color="#fff">button
  </ion-floating-button>


</ion-view>