
.applied{
	background: #546e7a;
	color: #fff;
}

/* .shortlist{
	background: #f99e09;
	color: #fff;
}
 */
.select {
	background: #4bb543;
	color: #fff;
}

.reject{
	background: red;
	color: #fff;
}

#status-text{
	padding-top: 4px;
	padding-bottom: 4px;
}

#apply-button{
	background: #0a364f;
	color: #fff;
	font-weight:600;
	border-radius:25px 25px 25px 25px; 
	width: 120px;
	display: block;
	margin: 10px auto;
}

#allJob-detailscard{
	background: #0a364f;
	color: #fff;
	border: #0a364f;
}

#alljobdetailfont,#desc-font{
	font-size: 14px;
}
#desc-font{
	margin-left: 9px;
}

#allJob-shopimage{
	width: 100%;
	height: 190px;
}

.single-image img{
	width: 100%;
}

#no-shop-images{
	font-size: 22px;
	text-align: center;
}

#no-img-div-height{
	height: 125px;
	
}
