#applied-jobs-content h2,h3,div{
    color: #fff;
}

.disable-pointer-events span{
    color: #000 !important;
}

/* .ion-checkmark i{
    color: #000 !important;
} */
.radio-content i {
    color: #000 !important;
}

#applied-jobs-content{
 background-color: #0a364f !important;
 color: #fff;
 border: #0a364f;   
}

#jobs-applied-card h2{
    color: #fff;
}

.req-btn{
    margin: 0 auto;
    display: block;
    border-radius: 3px;
    background: #f99e09;
    color: #fff;
}

#applicantDetail-img {
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.radio-status{
    padding-left: 5px;
}

#border-jobsApplied{
    border-top: 1px solid #546e7a;
    padding: 12px;  
}

#padding-top-status{
    padding-top: 23px;
}

#status{
    background: rgb(10, 54, 79);
    border: 1px solid rgb(84, 110, 122);
    border-radius: 7px;
    color: white;
    font-size: 12px;
    height: 24px;
    width: 93%;
}

