#slide-salesman{
	height: 240px;
}

#apply-button-list{
	    min-height: 20px;
    max-height: 40px;
    line-height: 4px;
	position: absolute;
	/*right: 0;*/
	/*bottom: 0;*/
	background: #f99e09;
	color: #fff;
	font-weight: 600;
	/*border-radius: 25px 25px 25px 25px;*/
}
.nomatchedJobsFound{
	text-align: center;
	font-size: 20px;
}

.card .slider-h2{
	font-size: 15px;
	font-style: italic;
}

.card span.slide-header{
	color: #182838;
}

.card p {
	font-size: small;
	font-weight: lighter;
}

#other-jobs {
	display: block;
	height: 140px;
}


h2.other-jobs-head{
	font-size: 13px;
}

#search-bar{
	width: 100% !important;
}


.other-jobs, #bg {
	background: #0a364f !important;
	border: #0a364f;
	color: #fff;
}

#other-jobs h2, #other-jobs p{
	color: #fff ;
}

#bg p,#bg h2 {
	color: #fff;
}

#pages-homeSalesman{
	padding-left: 87px;
}

#bg{
	display: block;
	height: 133px;
}

#premium-card{
	border-radius: 5px;
}

#job-desc{
	margin-left: 5px;
}


.button-clicked{
	color: #000;
	background: #f99e09;

}

.button-unclicked{
	color: #fff;
	background: #0a364f;
	
}