#add-postJob	{
	background: #0a364f;
	color: #fff;
	border: #0a364f;
	display: block;
	margin: 0 auto;
}



#job-type, #job-title, #job-status, #job-description, #job-salarybasis, #job-department, #job-requirement, #job-workinghours{
	border-bottom: 1px solid #546e7a;
}