.accepted-status{
	background: #4bb543;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.rejected-status{
	background: #E74C3C;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.pending-status{
	background: #7F8C8D;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 5px;
}