.modal-edit-retailerProfile{
	height: 100% !important;
	background-color: #182838 !important;
	display: flex !important;
	-webkit-box-direction: normal !important;
	-webkit-box-orient: horizontal !important;
	flex-direction: row !important;
	-webkit-box-align: center !important;
	align-items: center !important;
}

#retailerProfile-update-button{
	background: #0a364f;
	color: #fff;
	display: block;
	margin: 0 auto;
}

#profile-content{
	background: #0a364f;
	color: #fff;
	border:  #0a364f;

}

#mar-left-ret-add{
	margin-left: 9px;
}

#col-padding-left{
	padding-left: 20px;
}

#retailer-name,#retailer-pincode,#retailer-dob,#retailer-address,#retailer-email,#retailer-mobile,#retailer-city,#retailer-state,#retailer-address2{
	border-bottom: 1px solid #546e7a;

}

.retailer-details p{
	color: #fff;
}

.retailer-details p strong{
	font-size: 16px;
}

.mb-10{
	margin-bottom: 10px !important;
}

.item-floating-label .input-label{
	opacity: 1;
	top: 0px;
}