
#retailer-input1,#retailer-input2,#retailer-input3,#retailer-input4,#retailer-input5,#retailer-input6,#retailer-input7,#retailer-input8,#retailer-input9,#retailer-input10,#retailer-input11
{
	border-bottom: 1px solid #546e7a !important;
}

#retailerform-submit-btn{
	background-color: #0a364f !important;
	color: #fff;
	border: #0a364f ;
	font-weight:600;
	border-radius:25px 25px 25px 25px; 
	width: 120px;
	display: block;
	margin: 0 auto;
}

#retailer-input5, #retailer-input6{
	padding-top: 17px;
	padding-bottom: 17px;

}
#retailer-input5 .input-label,#retailer-input6 .input-label
{font-weight: normal;}