#salesmanProfile-form6 label{
	border-bottom: 1px solid #fff !important;

}

#addExpHistoryBtn{
	font-weight: bold;
}

#salesmanProfile-button6{
	margin-top: 20px;
}

.mar-left-sal-aboutadd{
	margin-left: 9px;
}

#upload-plus-icon
{
	position: absolute;
	top: 100px;
	left: 54%;
}
#upload-plus-icon img
{
	height: 25px; 
	width: 25px;
	margin-left: 10px;
}

.modal-salesmanProfileImage .scroll {
	height: 100% !important;
	background-color: #182838 !important;
	display: flex !important;
	-webkit-box-direction: normal !important;
	-webkit-box-orient: horizontal !important;
	flex-direction: row !important;
	-webkit-box-align: center !important;
	align-items: center !important;
}

.modal-salesmanProfile, .scroll-salesmanProfile {
	height: 100% !important;
	background-color: #182838 !important;
	display: flex !important;
	-webkit-box-direction: normal !important;
	-webkit-box-orient: horizontal !important;
	flex-direction: row !important;
	-webkit-box-align: center !important;
	align-items: center !important;
}

#salesmanProfile-title{
	color: #fff;
	font-weight: bold;
}

#salesmanProfile-update-button{
	background: #0a364f;
	color: #fff;
	font-weight:600;
	border-radius:25px 25px 25px 25px; 
	width: 120px;
	display: block;
	margin: 0 auto;
}


#edit-salesmanProfile-input1,#edit-salesmanProfile-input2,#edit-salesmanProfile-input3,#edit-salesmanProfile-input4,#edit-salesmanProfile-input5,#edit-salesmanProfile-input6,#edit-salesmanProfile-input7,#edit-salesmanProfile-input8{
	border-bottom: 1px solid #546e7a;
}


#exp-history{
	display: block;
	color: #fff;
	text-align: center;
	font-size: 20px;
	margin: 22px auto;
}

.salesman-details p{
	color: #fff;
}

.salesman-details p strong{
	font-size: 16px;
}

.mb-5{
	margin-bottom: 10px !important;
}

/* salesman profile card */
