.experience-list a, .experience-list ion-item, #add-experience{
 	background-color: #0a364f !important;
	color: #fff;
	border: #0a364f ;
}

.exp-list a:hover{
	/*background: black;*/
	color: #546e7a;
}


